/* Importar fuentes google fonts */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&display=swap');


/* CSS General para todas las páginas */
body{
    background-image: url("img/ps1.jpeg");
    background-size: 100% ;
    text-align: center;
    font-family: 'Righteous', cursive; 
}

img{
    padding-top: 10px;
}
/* Fondos */
.styles2{
    background-image: url("img/ps3.jpeg");
 }

.t_clientes{
    background-image: url(img/clientes.jpg);
    margin-top:2%;
} 
.t_oficinas{
    background-image: url(img/oficinas.jpg);
    margin-top:2%;
} 
.t_empleados{
    background-image: url(img/empleados.jpg);
    margin-top:2%;
} 
/* Boton de vuelta */
a:link {
    text-decoration: none;
  }
  
a:visited {
    text-decoration: none;
  }
.CER{
    text-align:left;
    font-family: 'M PLUS 1 Code', sans-serif;
    border-color: rgb(139,69,19);
    color: rgb(139,69,19);
    border-style: groove;
    float:left;
    margin-left: 1%;
    position: relative;
    
}
/* Contenedores */
.index {
    background-color: rgba(0, 0, 0, 0.2);
    font-size: larger;
    margin-left: 33%;
    margin-right: 33%;
    margin-top: 3%;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 15px;
    border-width: 2px;
    border-color: black;
    border-style: double; 
}
/* Texto en rojo de error */
.red{
    color: red;
}


/* Cajas formulario */
.caja input[type="text"], .caja input[type="password"]{
    border: 0;
    background-color: rgba(255, 255, 255, 0.4);
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #000000;
    padding: 10px 10px;
    width: 200px;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 24px;
    transition: 0.25s;
}
::placeholder { 
    color: black;
}

.caja input[type="text"]:focus, .caja input[type="password"]:focus{
    width: 300px;
}

/* Caja de texto*/
.caja2{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    border-width: 2px;
    border-color: black;
    border-style: double; 
    padding: 15px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 4%;
}
.caja3{
    text-align: center;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    border-width: 2px;
    border-color: black;
    border-style: double; 
    padding: 15px;
    margin-bottom: 2%;
    width: 30%;
    position: absolute;
    left: 34%;
  
}
.caja4 {
    text-align: left;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    border-width: 2px;
    border-color: black;
    border-style: double; 
    padding: 15px 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%; 
    width: 35%; 
  }
  .caja4 h1{
      text-align: center;
  }
  .caja4 p{
      padding-bottom: 15px;
  }
  .caja4 input[type="text"], select{
    border: 0;
    background-color: rgba(255, 255, 255, 0.4);
    display: block;
    text-align: center;
    border: 2px solid #000000;
    padding: 10px 10px;
    width: 180px;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 24px;
    transition: 0.25s;
    position: relative;
    float: right;
}
.caja4 input[type="number"]{
  border: 0;
  background-color: rgba(255, 255, 255, 0.4);
  display: block;
  text-align: center;
  border: 2px solid #000000;
  padding: 10px 10px;
  width: 180px;
  outline: none;
  color: rgb(0, 0, 0);
  border-radius: 24px;
  transition: 0.25s;
  margin: auto;
}

  /* Clase para identificador de cliente, oficina y empleado */
.importante{
    text-align: center;
    font-size: larger;
    font-weight: 600;
}
/* "Caja" general de los botones de redirección */
.opciones{
width: 100%;
text-align: center;
margin-top: 5%;
}

/* Botones de redirección a oficinas, empleados y clientes */
.op1{
    font-family: 'Righteous', cursive;
    font-size: 30px;  
    padding:1%;
    margin-left: 17%;
    width: 20%;
    float:left;
    background-color: rgba(255, 255, 255, 0.2);
    border-style: dashed solid;
    border-color: black;
    border-width: 3px;
    border-radius: 10px;
}

.op1:hover{
    background-color: rgba(255, 255, 255, 0.7);
    border-style: solid dashed;
    transition: 0.3s;
    transform: scale(1.1);
}

.op2{
    font-family: 'Righteous', cursive;
    font-size: 30px;  
    padding:1%;
    margin-left: 3%;
    margin-right: 3%;
    width: 20%;
    float:left;
    background-color: rgba(255, 255, 255, 0.2);
    border-style: dashed solid;
    border-color: black;
    border-width: 3px;
    border-radius: 10px;
}

.op2:hover{
    background-color: rgba(255, 255, 255, 0.7);
    border-style: solid dashed;
    transition: 0.3s;
    transform: scale(1.1);
}
.op3{
    font-family: 'Righteous', cursive;
    font-size: 30px;  
    padding:1%;
    margin-right: 17%;
    width: 20%;
    float:left;
    background-color: rgba(255, 255, 255, 0.2);
    border-style: dashed solid;
    border-color: black;
    border-width: 3px;
    border-radius: 10px;
}

.op3:hover{
    background-color: rgba(255, 255, 255, 0.7);
    border-style: solid dashed;
    transition: 0.3s;
    transform: scale(1.1);
}
/* Estilos de la tabla */
table{width: 100%;
    text-align: center;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-collapse: collapse; 
    padding:2px;
    
}
/* Tabla en mayusculas */
.uppercase{
    text-transform: uppercase;
    border-collapse: collapse;
}
/* Color diferente para registros apres e impartes */
tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.4);
  }
  
tbody tr:nth-child(even) {
    background-color: rgba(165, 165, 165, 0.4);
  }
/* Redirecciones color rojo  */
.a:link {
    text-decoration: none;
    color:rgb(255, 30, 98);
  }
  
.a:visited {
    text-decoration: none;
    color:rgb(255, 30, 98);
  }
  /* Boton envio formulario */
.but{
    border: 0;
    background-color: rgba(255, 255, 255, 0.4);
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #000000;
    padding: 10px 30px;
    cursor: pointer;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 24px;
    }
    
    .but:hover{
        background-color: rgba(255, 255, 255);  
    }
/* Botones */
.button{
    padding: 10px 20px;
    margin-right: 7px;
    border: 1px solid white;
    border-radius: 40px; 
    float: right;
    font-family: 'M PLUS 1 Code', sans-serif;
    font-weight: 700;
    color: white;
    background-color: rgba(0, 0, 0);
}
.button:hover{
    transition: 0.3s;
    transform: scale(1.1);
}
.button2{
    padding: 10px 25px;
    margin-left: 7px;
    border: 1px solid white;
    border-radius: 40px; 
    float: left;
    font-family: 'M PLUS 1 Code', sans-serif;
    font-weight: 700;
    color: white;
    background-color: rgba(0, 0, 0);
    position: relative;
}
.button2:hover{
    transition: 0.3s;
    transform: scale(1.1);
}
  /* Botones formularios de la empresa */
.formbuts{border: 0;
    background-color: rgba(255, 255, 255, 0.4);
    display: block;
    margin: 0px auto;
    text-align: center;
    border: 2px solid #000000;
    padding: 5px 15px;
    cursor: pointer;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 24px;
    width: 25%;
}
.formbuts:hover{
    background-color: rgba(109, 108, 108, 0.4);
    transform: scale(1.1);   
} 


  




